# 4.6 - Combining & Extracting Data( Task 3-7)

## Contents

#### 1- Import the libraries
#### 2- Import the 'orders_products_combined.pkl' dataframe
#### 3- Combine 'orders_products_combined' dataframe with the cleaned products data set on product_id
#### 4- Export the newly created dataframe as orders_products_merged in pkl format

In [3]:
# Import Libraries
import pandas as pd
import numpy as np
import os

In [4]:
# Assigning the folder path to a variable
path = r"C:\Users\Toshiba\09-10-2023 Instacart Basket Analysis"

In [5]:
# Importing the 'orders_products_combined' dataframe with os library
df_ords_prds_comb = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

In [6]:
df_ords_prds_comb.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,11.0,196,1,0,both
1,2539329,1,1,2,8,11.0,14084,2,0,both
2,2539329,1,1,2,8,11.0,12427,3,0,both
3,2539329,1,1,2,8,11.0,26088,4,0,both
4,2539329,1,1,2,8,11.0,26405,5,0,both

In [7]:
# Importing the products dataframe dataframe with os library
df_prds_checked = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_checked.csv'))

In [8]:
df_prds_checked.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [9]:
# Dropping the unnamed columns 
df_prds_checked=df_prds_checked.drop("Unnamed: 0",axis=1)

In [10]:
df_prds_checked.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [11]:
# Merging the 'df_ords_prds_comb' and 'df_prds_checked' dataframe
df_ords_prds_merged = df_ords_prds_comb.merge(df_prds_checked, on = 'product_id', indicator = 'exists')

In [12]:
# To check if we have a full match or not
df_ords_prds_merged['_merge'].value_counts()

_merge
both          32404859
left_only            0
right_only           0
Name: count, dtype: int64

In [13]:
# Exporting the merged file as pkl

df_ords_prds_merged.to_pickle(os.path.join(path,'02 Data','Prepared Data','orders_products_merged.pkl'))