# 4.6 Combining and Extracting Data (Task 1 & 2)

## Contents

#### 1- Import the libraries
#### 2- Import 
#### 3- Merge the 'orders' and 'orders_products_prior' dataframe
#### 4- Export the merged file in pkl format as 'orders_products_combined.pkl'

In [1]:
# Import Libraries
import pandas as pd
import numpy as np
import os

In [2]:
# Assigning the folder path to a variable
path = r"C:\Users\Toshiba\09-10-2023 Instacart Basket Analysis"

In [4]:
# Creating the dataframe with os library
df_ords_prior = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'orders_products_prior.csv'), index_col = False)

In [5]:
# importing the latest version of orders dataframe with os library
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_checked.csv'), index_col = False)

In [6]:
#Check the output of 'order_products_prior' dataset 
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [7]:
# Check the output of 'order_checked' dataset
df_ords.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,0,0,2539329,1,1,2,8,11.0
1,1,1,2398795,1,2,3,7,15.0
2,2,2,473747,1,3,3,12,21.0
3,3,3,2254736,1,4,4,7,29.0
4,4,4,431534,1,5,4,15,28.0

In [8]:
df_ords_prior.shape

(32434489, 4)

In [9]:
df_ords.shape

(3421083, 8)

In [10]:
df_ords1 = df_ords

In [11]:
df_ords1.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,0,0,2539329,1,1,2,8,11.0
1,1,1,2398795,1,2,3,7,15.0
2,2,2,473747,1,3,3,12,21.0
3,3,3,2254736,1,4,4,7,29.0
4,4,4,431534,1,5,4,15,28.0

In [21]:
# Dropping the unnamed columns 
df_ords1=df_ords1.drop("Unnamed: 0",axis=1)
df_ords1=df_ords1.drop("Unnamed: 0.1",axis=1)

In [22]:
df_ords1.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,11.0
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0

In [23]:
df_ords = df_ords1

In [25]:
df_ords.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,11.0
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0

In [26]:
# Merging the 'df_ords' and 'df_ords_prior' dataframe
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [27]:
df_merged_large.shape

(32434489, 10)

In [28]:
df_merged_large.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,11.0,196,1,0,both
1,2539329,1,1,2,8,11.0,14084,2,0,both
2,2539329,1,1,2,8,11.0,12427,3,0,both
3,2539329,1,1,2,8,11.0,26088,4,0,both
4,2539329,1,1,2,8,11.0,26405,5,0,both

In [29]:
# To check if we have a full match or not
df_merged_large['_merge'].value_counts()

_merge
both          32434489
left_only            0
right_only           0
Name: count, dtype: int64

In [30]:
# Export the merged dataframe to pkl

df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))